Environment*
*__pycache__/
*Resources/Schema/response/mockup_response_test.json
*.png
*.html
*.xml
*Testsuites/log_pre_automate_asse/
*Testsuites/log_pre_automate_asea/
*Testsuites/log_post_automate_asse/
*Testsuites/log_post_automate_asea/
*Testsuites/compare_asse/
*Testsuites/compare_asea/
*Testsuites/pre_response_asse/
*Testsuites/pre_response_asea/
*Testsuites/post_response_asse/
*Testsuites/post_response_asea/
*Testsuites/pre_response_trafficmanager/
*Testsuites/post_response_trafficmanager/